body {
    color: #3c4b64 !important;
    background: #ebedef !important;
}

img.ad {
    width: 100% !important;
    height: auto;
    border: 1px solid rgba(34, 36, 38, .15) !important;
    box-shadow: 0 1px 2px 0 rgb(34 36 38 / 15%) !important;
}

.ui.menu {
    margin: 0 0 1rem 0 !important;
}

.award-card {
    padding: 0 !important;
    margin: 0 !important;
}

.facebook {
    background: none !important;
}

.facebook-icon {
    margin: 0 !important;
}

@media only screen and (max-width: 768px) {
    .ui.grid > .column:not(.row) {
        padding: 1rem !important;
    }
}